language: cpp
dist: bionic
os: linux

sudo: false

compiler: gcc

addons:
  sonarcloud:
    organization: "sonarsource-cfamily-examples"
    token:
      secure: "quVmLFH7TM9w0hbfffLDiORCz6JG97sJnFFj3pf42UhsWVM7YNpe5i+NzZpmdrcp1M2DdwKHLKMlHm91hLyougMnLDDEMpNGkGcJ7o0ZGRIDwnQzHP/Ax8qm2q3iGgvQONGo0/KDPeMNPhPbladO35TcUCgxV59xg7JtPKHotr7HqK/U9U7BiIWUVdlcfMs5QVxrz4NU4zafNULDSZxXXrlcU/8UIkNIsltU6uTB6+wncsAFd/UnnQYpa6pN1tHkc+IXSlcyJroKo75qH+ErPDMsByzK+4ql0jZZQaFASNXRNDYGvA2bVXv14/TRGxL0p+7Hb4b8MmGmuRKaAo+FzQJzA8i9tm6U+9N/1CSpwjq0Z9/R0dsGn+96dvN1he4I/8Kgo/mbUc0VmpVu9d2fSgkYRMnLJYn5f5vbgUY7bey2ePfmgTLbkiTg39DO1Q0lCjGPmg6BnJCd7N0feDc0W7iEoihZ9XsMSf0C13YQTnM3Dn9aHGHpftFiWoHPFuAycKMpgd3Ei5FIOavOl5nLQVC152U53PMcT3KuTwqTK/5yTgeKmaqKy4C9WBf0g6Av9a7alEavITz1Q6k9uKzECtRftkCJ752+svOUyArWL5dCskCw8pbQ0C72ZL9oXCIbdHEZaf/jG1AtcBmBpSjOlCfgV4j6+gfbkgFGaF+cvjE="
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-9

env:
  - CXX=g++-9 BUILD_WRAPPER_OUT_DIR=build_wrapper_output_folder

before_install:
  - wget -O cmake.sh https://github.com/Kitware/CMake/releases/download/v3.20.5/cmake-3.20.5-linux-x86_64.sh
  - sudo sh cmake.sh --skip-license --exclude-subdir --prefix=/usr/local
  - export PATH=/usr/local/bin:$PATH
  - cmake --version

script:
  # Prepare the build system
  - NUMBER_OF_PROCESSORS=$(nproc --all)
  - mkdir build
  - cmake -S . -B build
  # Wraps the compilation with the Build Wrapper to generate configuration (used
  # later by the SonarQube Scanner) into the "build_wrapper_output_folder" folder
  - build-wrapper-linux-x86-64 --out-dir "$BUILD_WRAPPER_OUT_DIR" cmake --build build/ --config Release
  # And finally run the SonarQube analysis - read the "sonar-project.properties"
  # file to see the specific configuration
  - sonar-scanner --define sonar.cfamily.build-wrapper-output="$BUILD_WRAPPER_OUT_DIR"

cache:
  directories:
    - $HOME/.sonar/cache
